<template>
    <section>
        <div class="container my-4">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                    <img src="../../../public/img/7.jpg" class="d-block w-100">
                    </div>
                    <div class="carousel-item">
                    <img src="../../../public/img/8.jpg" class="d-block w-100">
                    </div>
                    <div class="carousel-item">
                    <img src="../../../public/img/9.jpg" class="d-block w-100">
                    </div>
                    <div class="carousel-item">
                    <img src="../../../public/img/10.jpg" class="d-block w-100">
                    </div>
                    <div class="carousel-item">
                    <img src="../../../public/img/11.jpg" class="d-block w-100">
                    </div>
                    <div class="carousel-item">
                    <img src="../../../public/img/12.jpg" class="d-block w-100">
                    </div>
                    <div class="carousel-item">
                    <img src="../../../public/img/14.jpg" class="d-block w-100">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>        
        </div>
    </section>
    <section>
        <div class="container mt-5">
            <h2 class="d-flex p-3 text-secondary font-weight-bold ">CARTELERA</h2>
            <div class="row margin-image">
                <div class="col-md-2 col-4 img-col-2">
                    <a href="">
                        <img src="../../../public/img/63.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="col-md-2 col-4 img-col-2">
                    <a href="">
                        <img src="../../../public/img/74.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="col-md-2 col-4 img-col-2">
                    <a href="">
                        <img src="../../../public/img/97.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="col-md-2 col-4 img-col-2">
                    <a href="">
                        <img src="../../../public/img/106.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="col-md-2 col-4 img-col-2">
                    <a href="">
                        <img src="../../../public/img/117.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="col-md-2 col-4 img-col-2">
                    <a href="">
                        <img src="../../../public/img/99.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="col-md-2 col-4 img-col-2">
                    <a href="">
                        <img src="../../../public/img/125.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="col-md-2 col-4 img-col-2">
                    <a href="">
                        <img src="../../../public/img/126.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="col-md-2 col-4 img-col-2">
                    <a href="">
                        <img src="../../../public/img/127.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="col-md-2 col-4 img-col-2">
                    <a href="">
                        <img src="../../../public/img/129.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="col-md-2 col-4 img-col-2">
                    <a href="">
                        <img src="../../../public/img/131.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="col-md-2 col-4 img-col-2">
                    <a href="">
                        <img src="../../../public/img/132.jpg" class="img-fluid">
                    </a>
                </div>
            </div>
            <hr style="border-top: 3px solid #e41916; opacity: 1;">
            <h2 class="d-flex p-3 text-secondary font-weight-bold ">PRÓXIMAMENTE</h2>
            <div class="row ">
                <div class="col-md-2 col-4 img-col-2" style="position:relative;">
                    <a href="">
                        <img src="../../../public/img/123.jpg" class="img-fluid" style="max-width: 100%;">
                    </a>
                    <div style="position:absolute; top:0;">
                        <a href="">
                            <img src="../../../public/img/pre-venta.png" class="img-fluid" style="max-width: 100%;">
                        </a>
                    </div>
                </div>
                <div class="col-md-2 col-4 img-col-2" style="position:relative;">
                    <a href="">
                        <img src="../../../public/img/134.jpg" class="img-fluid">
                    </a>
                    <div style="position:absolute; top:0;">
                        <a href="">
                            <img src="../../../public/img/pre-venta.png" class="img-fluid">
                        </a>
                    </div>
                </div>
                <div class="col-md-2 col-4 img-col-2" style="position:relative;">
                    <a href="">
                        <img src="../../../public/img/136.jpg" class="img-fluid">
                    </a>
                    <div style="position:absolute; top:0;">
                        <a href="">
                            <img src="../../../public/img/pre-venta.png" class="img-fluid">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
export default {
  name: 'MyContent'
}
</script>


<style scoped>
.img-col-2{
    padding-right: 0;
    padding-left: 0;
}
.margin-image{
    margin-left: -10px;
    margin-right: -10px;
}
</style>