<template>
    <MyNav></MyNav>   
    <router-view></router-view>
    <MyFooter></MyFooter>
</template>

<script>

import MyNav from './MyNav.vue'
import MyFooter from './MyFooter.vue'
export default {
  name: 'MyDashboard',
  components: {
    MyNav,
    MyFooter
  }
}
</script>


<style scoped>

</style>