<template>
    <section>
        <div class="container">
            <div class="subheader">
                <h4>TITULO DE LA PELICULA</h4>
            </div>
            <div class="wrapper">
                <div class="row">
                    <div class="col-5 col-md-3 mt-3" style="position:relative;">
                        <img src="../../../public/img/123.jpg" class="img-fluid" style="max-width: 100%;">
                        <div style="position:absolute; top:0;">
                            <a href="">
                                <img src="../../../public/img/pre-venta.png" class="img-fluid" style="max-width: 100%;">
                            </a>
                        </div>
                    </div>
                    <div class="col-7 col-md-8 mt-3">
                        <div class="ratio ratio-16x9">
                            <iframe src="https://www.youtube.com/embed/O5g-znseYdo?enablejsapi=1&origin=https%3A%2F%2Fcinecenter.com.bo&widgetid=3" title="YouTube video" allowfullscreen></iframe>
                        </div>
                        <div style="padding-top: 15px;">
                            <p class="tag-movie"><b>GENERO: </b></p>
                            <p class="tag-movie"><b>CLASIFICACION: </b></p>
                            <p class="tag-movie"><b>DURACION: </b></p>
                            <p class="tag-movie"><b>ESTRENO: </b></p>
                            <p class="tag-movie"><b>PROTAGONISTAS: </b></p>
                            <p class="tag-movie"><b>DIRECTOR: </b></p>
                            <p class="tag-movie"><b>SINOPSIS: </b></p>
                        </div>                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6 col-12 mg-mobile" style="padding: 20px 0 20px 0;">
                        <div class="jflatTimeline">
                            <div class="dates-bar">
                                <a class="prev" style="height: 80px; padding-top: 15px;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" style="fill: rgba(253, 248, 248, 1);transform: ;msFilter:;"><path d="M13.939 4.939 6.879 12l7.06 7.061 2.122-2.122L11.121 12l4.94-4.939z"></path></svg>
                                </a>
                                <div style="padding-left: 50px; left: 0px; position: relative; display: flex; min-height: 80px;">
                                    <div style="height: 80px; width: 90px;">
                                        <p class="jflat-header-cal">Lun</p>
                                        <a class="selected" style="height:52px; width:90px; text-align: center; text-decoration: none;">
                                            <span class="date">07</span>
                                            <span class="month">noviembre</span>
                                        </a>
                                    </div>
                                    <div style="height: 80px; width: 90px;">
                                        <p class="jflat-header-cal">Mates</p>
                                        <a class="selected" style="height:52px; width:90px; text-align: center; text-decoration: none;">
                                            <span class="date">08</span>
                                            <span class="month">noviembre</span>
                                        </a>
                                    </div>
                                </div>
                                <a class="next" style="height: 80px; padding-top: 15px;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" style="fill: rgba(253, 248, 248, 1);transform: ;msFilter:;"><path d="M10.061 19.061 17.121 12l-7.06-7.061-2.122 2.122L12.879 12l-4.94 4.939z"></path></svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-9" style="padding: 20px 0 20px 0;">
                        <p style="color:#787e87; margin-bottom: 10px; font-size: 14px;"><b>ESCOGE LA VERSION Y EL HORARIO</b></p>
                        <div style="display: flex;">
                            <div>
                                <span class="button_red">2D DOB</span>
                                <div style="color:#000000; padding-bottom:45px; display: inline-grid; width: 80%;">
                                    <button class="btn btn-success" style="cursor:pointer; margin-left:4px;font-size: 13px;margin: 2px;">19:20</button>
                                </div>
                            </div>
                            <div>
                                <span class="button_red">3D DOB</span>
                                <div style="color:#000000; padding-bottom:45px; display: inline-grid; width: 80%;">
                                    <button class="btn btn-success" style="cursor:pointer; margin-left:4px;font-size: 13px;margin: 2px;">19:20</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
export default {
  name: 'MyDetail'
}
</script>


<style scoped>
.mg-mobile {
    margin-left: 0.5rem!important;
    margin-right: 0.5rem!important;
}
.button_red {
    color: #fff;
    width: 80%;
    text-align: center;
    box-shadow: inset 0 1px 0 0 #cf866c;
    display: inline-block;
    padding: 10px;
    font-size: 15px;
    line-height: 10px;
    margin-bottom: 2px;
    text-decoration: none;
    font-weight: 700;
    z-index: 1;
    cursor: none;
    letter-spacing: 1px;
    border: 0;
    margin-right: 7px;
    border-radius: 10px;
    background-color: #e41916;
    font-family: Myriad Pro Regular;
}
.next {
    right: 0;
    border-left: 1px solid #e7e7e7;
    position: absolute;
    top: 0;
    width: 50px;
    min-width: 0;
    font-size: 25px;
    background-color: #e31916;
    z-index: 2;
    display: inline-block;
    height: 80px;
}
.month {
    font-size: 13px;
    display: block;
}
.date {
    display: block;
    font-size: 15px;
    font-weight: 700;
}
.selected {
    color: #817777;
}
.jflat-header-cal {
    text-align: center;
    font-size: 14px;
    margin-bottom: 0;
    background-color: #e41916;
    color: #fff;
    margin-left: 1px;
    margin-right: 1px;
}
.dates-bar {
    border: 1px solid #ed2b3c;
    display: block;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    font-size: 0;
    white-space: nowrap;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    min-height: 80px;
}
.prev {
    position: absolute;
    top: 0;
    width: 50px;
    min-width: 0;
    font-size: 25px;
    background-color: #e31916;
    z-index: 2;
    display: inline-block;
    height: 80px;
}
p{
    letter-spacing: .5px;
    line-height: 2;
    font-family: 'Myriad Pro Regular';
}
.tag-movie {
    margin: -5px 0 0;
    color: #787e87;
    font-size: 14px;
}
.ratio-16x9 {
    --bs-aspect-ratio: 56.5%;
    width: 100%;
}
.subheader {
    background-color: #e41916;
    width: 100%;
    height: 80px;
}
.subheader>h4 {
    text-align: center;
    font-size: 25px;
    color: #fff;
    padding: 25px;
}
.wrapper {
    max-width: 1300px;
    margin: 0 auto;
}
</style>