<template>
    <div class="wrapper-footer">
        <footer ></footer>
        <footer class="page-footer font-small unique-color-dark container-fluid" style="background-color: #F2F2F2;">
            <div class="container-fluid wrapper text-center text-md-left mt-5">
                <div class="row mt-3" style="padding-top: 40px;">
                    <div class="col-md-4 col-lg-4 col-xl-3 mb-4">
                        <h1><img src="../../../public/img/logowebp.png"></h1>
                    </div>
                    <div class="col-md-4 col-lg-4 col-xl-3 mb-4">
                        <p class="mb-2">
                            <a href="" target="_blank" style="margin-right: 5%;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 24 24" style="fill: rgba(188, 182, 182, 1);transform: ;msFilter:;"><path d="M12.001 2.002c-5.522 0-9.999 4.477-9.999 9.999 0 4.99 3.656 9.126 8.437 9.879v-6.988h-2.54v-2.891h2.54V9.798c0-2.508 1.493-3.891 3.776-3.891 1.094 0 2.24.195 2.24.195v2.459h-1.264c-1.24 0-1.628.772-1.628 1.563v1.875h2.771l-.443 2.891h-2.328v6.988C18.344 21.129 22 16.992 22 12.001c0-5.522-4.477-9.999-9.999-9.999z"></path></svg>
                            </a>
                            <span class="text-secondary" style="font-size: 14px"><b>CENTER BOLIVIA</b></span>
                        </p>
                        <p class="mb-2">
                            <a href="" target="_blank" style="margin-right: 5%;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 24 24" style="fill: rgba(188, 182, 182, 1);transform: ;msFilter:;"><path d="M20.947 8.305a6.53 6.53 0 0 0-.419-2.216 4.61 4.61 0 0 0-2.633-2.633 6.606 6.606 0 0 0-2.186-.42c-.962-.043-1.267-.055-3.709-.055s-2.755 0-3.71.055a6.606 6.606 0 0 0-2.185.42 4.607 4.607 0 0 0-2.633 2.633 6.554 6.554 0 0 0-.419 2.185c-.043.963-.056 1.268-.056 3.71s0 2.754.056 3.71c.015.748.156 1.486.419 2.187a4.61 4.61 0 0 0 2.634 2.632 6.584 6.584 0 0 0 2.185.45c.963.043 1.268.056 3.71.056s2.755 0 3.71-.056a6.59 6.59 0 0 0 2.186-.419 4.615 4.615 0 0 0 2.633-2.633c.263-.7.404-1.438.419-2.187.043-.962.056-1.267.056-3.71-.002-2.442-.002-2.752-.058-3.709zm-8.953 8.297c-2.554 0-4.623-2.069-4.623-4.623s2.069-4.623 4.623-4.623a4.623 4.623 0 0 1 0 9.246zm4.807-8.339a1.077 1.077 0 0 1-1.078-1.078 1.077 1.077 0 1 1 2.155 0c0 .596-.482 1.078-1.077 1.078z"></path><circle cx="11.994" cy="11.979" r="3.003"></circle></svg>
                            </a>
                            <span class="text-secondary" style="font-size: 14px"><b>CENTER BOLIVIA</b></span>
                        </p>
                        <p class="mb-2">
                            <a href="" target="_blank" style="margin-right: 5%;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 24 24" style="fill: rgba(188, 182, 182, 1);transform: ;msFilter:;"><path d="M21.593 7.203a2.506 2.506 0 0 0-1.762-1.766C18.265 5.007 12 5 12 5s-6.264-.007-7.831.404a2.56 2.56 0 0 0-1.766 1.778c-.413 1.566-.417 4.814-.417 4.814s-.004 3.264.406 4.814c.23.857.905 1.534 1.763 1.765 1.582.43 7.83.437 7.83.437s6.265.007 7.831-.403a2.515 2.515 0 0 0 1.767-1.763c.414-1.565.417-4.812.417-4.812s.02-3.265-.407-4.831zM9.996 15.005l.005-6 5.207 3.005-5.212 2.995z"></path></svg>                    
                            </a>
                            <span class="text-secondary" style="font-size: 14px"><b>CENTER BOLIVIA</b></span>
                        </p>
                    </div>
                    <div class="col-md-4 col-lg-4 col-xl-3 mb-4" style="margin-left: auto;">
                        <p>DESCARGA LA APP</p>
                        <p>
                            <a href="" style="margin-right: 3%;">
                                <img src="../../../public/img/google-play.png" class="img-fluid" width="120px">
                            </a>
                            <a href="">
                                <img src="../../../public/img/app-store.png" class="img-fluid" width="120px">
                            </a>
                        </p>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-2 col-6 col-lg-2 col-xl-2 mx-auto mb-4">
                        <h6 class="text-danger" align="left"><b>NOSOTROS</b></h6>
                        <hr class="deep-purple mt-0">
                        <p class="mb-0" align="left">
                            <a href="" style="color: grey; font-size: 13px; font-weight: bolder;">Conocenos</a>
                        </p>
                        <p align="left">
                            <a href="" style="color: grey; font-size: 13px; font-weight: bolder;">Terminos y Condiciones</a>
                        </p>
                    </div>
                    <div class="col-md-2 col-6 col-lg-2 col-xl-2 mx-auto mb-4">
                        <h6 class="text-danger" align="left"><b>PROGRAMACION</b></h6>
                        <hr class="deep-purple mt-0">
                        <p class="mb-0" align="left">
                            <a href="" style="color: grey; font-size: 13px; font-weight: bolder;">Cartelera</a>
                        </p>
                        <p align="left">
                            <a href="" style="color: grey; font-size: 13px; font-weight: bolder;">Proximamente</a>
                        </p>
                    </div>
                    <div class="col-md-2 col-6 col-lg-2 col-xl-2 mx-auto mb-4">
                        <h6 class="text-danger" align="left"><b>OFERTAS</b></h6>
                        <hr class="deep-purple mt-0">
                        <p class="mb-0" align="left">
                            <a href="" style="color: grey; font-size: 13px; font-weight: bolder;">Boleteria</a>
                        </p>
                        <p align="left">
                            <a href="" style="color: grey; font-size: 13px; font-weight: bolder;">Confiteria</a>
                        </p>
                    </div>
                    <div class="col-md-2 col-6 col-lg-2 col-xl-2 mx-auto mb-4">
                        <h6 class="text-danger" align="left"><b>CONFITERIA</b></h6>
                        <hr class="deep-purple mt-0">
                        <p class="mb-0" align="left">
                            <a href="" style="color: grey; font-size: 13px; font-weight: bolder;">Combos</a>
                        </p>
                        <p class="mb-0" align="left">
                            <a href="" style="color: grey; font-size: 13px; font-weight: bolder;">Combos Estacionales</a>
                        </p>
                        <p class="mb-0" align="left">
                            <a href="" style="color: grey; font-size: 13px; font-weight: bolder;">Cine Cafe</a>
                        </p>
                        <p align="left">
                            <a href="" style="color: grey; font-size: 13px; font-weight: bolder;">Candy Planet</a>
                        </p>
                    </div>
                    <div class="col-md-2 col-6 col-lg-2 col-xl-2 mx-auto mb-4">
                        <h6 class="text-danger" align="left"><b>SERVICIOS</b></h6>
                        <hr class="deep-purple mt-0">
                        <p class="mb-0" align="left">
                            <a href="" style="color: grey; font-size: 13px; font-weight: bolder;">Salon de cumpleaños</a>
                        </p>
                        <p class="mb-0" align="left">
                            <a href="" style="color: grey; font-size: 13px; font-weight: bolder;">Servicios publicitarios</a>
                        </p>
                        <p align="left">
                            <a href="" style="color: grey; font-size: 13px; font-weight: bolder;">Servicios corporativos</a>
                        </p>
                    </div>
                    <div class="col-md-2 col-6 col-lg-2 col-xl-2 mx-auto mb-4">
                        <h6 class="text-danger" align="left"><b>CONTACTO</b></h6>
                        <hr class="deep-purple mt-0">
                        <p class="mb-0" align="left">
                            <a href="" style="color: grey; font-size: 13px; font-weight: bolder;">Ventas</a>
                        </p>
                        <p class="mb-0" align="left">
                            <a href="" style="color: grey; font-size: 13px; font-weight: bolder;">Consultas</a>
                        </p>
                        <p align="left">
                            <a href="" style="color: grey; font-size: 13px; font-weight: bolder;">Trabaja con nosotros</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="footer-copyright text-center mb-1">
                <p style="text-align: center; margin-top: 20px; color: grey; font-size: 13px;">
                    © 2019 Cine Center. Derechos Reservados.
                </p>
            </div>
        </footer>
    </div>    
</template>

<script>
export default {
  name: 'MyDashboard'
}
</script>


<style scoped>
.footer-copyright{
    overflow: hidden;
    color: hsla(0,0%,100%,.6);
    background-color: rgba(0,0,0,.1);
}
.deep-purple{
    color: #e41916;
    width: auto;
    height: 2px;
    margin-left: auto;
    opacity: 1;
}
a {
    text-decoration: none;
}
.wrapper-footer{
    max-width: 1350px;
    margin: 0 auto;
}
.wrapper{
    max-width: 1300px;
    margin: 0 auto;
}
</style>