<template>
    <header>
        <div class="container-fluid">
        </div>
    </header>
</template>

<script>
export default {
  name: 'MyLogin'
}
</script>


<style scoped>
header{
  background-image: linear-gradient(120deg, hsla(142, 92%, 75%, 0.527) 0%, hsla(200, 82%, 76%, 0.445) 100%), url(../../../img/img-1.jpg);
}
</style>
