<template>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-3 col-2">
                <img _ngcontent-kpn-c1="" alt="Logo CineCenter" class="img-fluid" src="../../../public/img/logowebp.png">
            </div>
            <div class="col-md-6 col-8 nopadding">
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="70" viewBox="0 0 24 24" style="fill: rgba(188, 182, 182, 1);transform: ;msFilter:;"><path d="M12.001 2.002c-5.522 0-9.999 4.477-9.999 9.999 0 4.99 3.656 9.126 8.437 9.879v-6.988h-2.54v-2.891h2.54V9.798c0-2.508 1.493-3.891 3.776-3.891 1.094 0 2.24.195 2.24.195v2.459h-1.264c-1.24 0-1.628.772-1.628 1.563v1.875h2.771l-.443 2.891h-2.328v6.988C18.344 21.129 22 16.992 22 12.001c0-5.522-4.477-9.999-9.999-9.999z"></path></svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="70" viewBox="0 0 24 24" style="fill: rgba(188, 182, 182, 1);transform: ;msFilter:;"><path d="M20.947 8.305a6.53 6.53 0 0 0-.419-2.216 4.61 4.61 0 0 0-2.633-2.633 6.606 6.606 0 0 0-2.186-.42c-.962-.043-1.267-.055-3.709-.055s-2.755 0-3.71.055a6.606 6.606 0 0 0-2.185.42 4.607 4.607 0 0 0-2.633 2.633 6.554 6.554 0 0 0-.419 2.185c-.043.963-.056 1.268-.056 3.71s0 2.754.056 3.71c.015.748.156 1.486.419 2.187a4.61 4.61 0 0 0 2.634 2.632 6.584 6.584 0 0 0 2.185.45c.963.043 1.268.056 3.71.056s2.755 0 3.71-.056a6.59 6.59 0 0 0 2.186-.419 4.615 4.615 0 0 0 2.633-2.633c.263-.7.404-1.438.419-2.187.043-.962.056-1.267.056-3.71-.002-2.442-.002-2.752-.058-3.709zm-8.953 8.297c-2.554 0-4.623-2.069-4.623-4.623s2.069-4.623 4.623-4.623a4.623 4.623 0 0 1 0 9.246zm4.807-8.339a1.077 1.077 0 0 1-1.078-1.078 1.077 1.077 0 1 1 2.155 0c0 .596-.482 1.078-1.077 1.078z"></path><circle cx="11.994" cy="11.979" r="3.003"></circle></svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="70" viewBox="0 0 24 24" style="fill: rgba(188, 182, 182, 1);transform: ;msFilter:;"><path d="M21.593 7.203a2.506 2.506 0 0 0-1.762-1.766C18.265 5.007 12 5 12 5s-6.264-.007-7.831.404a2.56 2.56 0 0 0-1.766 1.778c-.413 1.566-.417 4.814-.417 4.814s-.004 3.264.406 4.814c.23.857.905 1.534 1.763 1.765 1.582.43 7.83.437 7.83.437s6.265.007 7.831-.403a2.515 2.515 0 0 0 1.767-1.763c.414-1.565.417-4.812.417-4.812s.02-3.265-.407-4.831zM9.996 15.005l.005-6 5.207 3.005-5.212 2.995z"></path></svg>
                    </li>
                    <li class="nav-item mt-3 ">
                        <a class="nav-link text-secondary">Conocenos</a>
                        <hr style="color:red;border-top: 3px solid; opacity: 1;">
                    </li>
                    <li class="nav-item mt-3">
                        <a class="nav-link text-secondary">Otros servicios</a>
                        <hr style="color:red;border-top: 3px solid; opacity: 1;">
                    </li>
                    <li class="nav-item dropdown mt-3">
                        <a class="nav-link dropdown-toggle text-secondary" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Ciudad</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Cochabamba</a></li>
                            <li><a class="dropdown-item" href="#">Quillacollo</a></li>
                            <li><a class="dropdown-item" href="#">Santa Cruz</a></li>
                            <li><a class="dropdown-item" href="#">La Paz</a></li>
                            <li><a class="dropdown-item" href="#">Riberalta</a></li>
                            <li><a class="dropdown-item" href="#">Tarija</a></li>
                        </ul>
                        <hr style="color:red;border-top: 3px solid; opacity: 1;">
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-2 nopadding">
                <div class="row">
                    <div class="col-md-4 col-12">
                        <button type="button" class="btn btn-danger btn-block">REGISTRATE</button>
                    </div>
                    <div class="col-md-6 col-12">
                        <button type="button" class="btn btn-danger btn-block">INICIAR SESIÓN</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container wrapper-fluid wrapper">
        <div class="row">
            <div class="col-md-9 pl-0 col-12 mt-3">
                <nav class="navbar navbar-expand-lg bg-light mt-5">
                    <div class="container">
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" style="fill: rgba(227, 11, 11, 1);transform: ;msFilter:;"><path d="m21.743 12.331-9-10c-.379-.422-1.107-.422-1.486 0l-9 10a.998.998 0 0 0-.17 1.076c.16.361.518.593.913.593h2v7a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1v-4h4v4a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1v-7h2a.998.998 0 0 0 .743-1.669z"></path></svg>  
                                </li>
                                <li class="nav-item">
                                    <b><a class="nav-link" href="#">CARTELERA</a></b>
                                </li>
                                <li class="nav-item">
                                    <b><a class="nav-link" href="#">PROXIMAMENTE</a></b>
                                </li>
                                <li class="nav-item">
                                    <b><a class="nav-link" href="#">HORARIOS</a></b>
                                </li>
                                <li class="nav-item">
                                    <b><a class="nav-link" href="#">OFERTAS</a></b>
                                </li>
                                <li class="nav-item">
                                    <b><a class="nav-link" href="#">CONFITERIA</a></b>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="col-md-3 col-12 ml-5">
                <img width="130" height="125" alt="" class="img-fluid logo-ecommerce" src="../../../public/img/ecomercce-awards.png">
            </div>
        </div>
    </div>    
</template>

<script>
export default {
  name: 'MyNav'
}
</script>


<style scoped>
.nopadding {
    padding: 0!important;
}
</style>